:root {
  --color1: #ffffff;
  --color2: rgb(17, 2, 59);
  --color3: rgb(44, 105, 141);
  --color4: #bae8e8;
  --color5: #e3f6f5;
  --color6: #f3f3f3;
  --color7: #fb3640;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --size1: 2rem;
  --size2: 1.75rem;
  --size3: 1.5rem;
  --size4: 1rem;
  --size5: 0.8rem;
  --size6: 0.5rem;

  --sizexl: 5rem;
  --sizexm: 4.5rem;
  --sizel: 4rem;
  --sizeml: 3.5rem;
  --sizem: 3rem;

  --transition: all 400ms ease;
}

.updateProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateProfileBox {
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.updateProfileForm h2 {
  padding-bottom: 2rem;
  font-family: "Poppins";
  font-weight: 400;
  font-size: var(--size2);
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
}

.updateProfileForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.updateProfileForm > div > input {
  box-shadow: 0 0 2px var(--color4);
  margin: var(--size5) 0;
  padding: var(--size5) 2rem;
  padding-left: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  outline: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: var(--size5);
  color: #333;
  background-color: var(--color6);
}

.updateProfileForm > div > svg {
  position: absolute;
  right: 0;
  transform: translateX(-1vmax);
  font-size: 1.2rem;
  font-weight: 200;
  color: #555;
}

.updateProfileBtn {
  margin: var(--size5) 0 0 0;
  border: none;
  background-color: var(--color3);
  color: var(--color6);
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  font-family: "Poppins";
  font-size: var(--size5);
  font-weight: 600;
  transition: all 0.5s;
}

.updateProfileBtn:hover {
  color: var(--color3);
  background-color: var(--color4);
}

#updateProfileImage > img {
  width: 2.4rem;
  border-radius: 100%;
}

#updateProfileImage > input {
  display: flex;
  padding: 0;
  margin-right: 0.8rem;
}

#updateProfileImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 6vh;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: var(--size5);
  transition: all 0.5s;
  color: var(--color3);
  background-color: var(--color4);
}

#updateProfileImage > input::file-selector-button:hover {
  background-color: var(--color6);
}
